@charset "utf-8";

.palette {
    color: #2bb24c; /* feedly */
    color: #20c05c; /* evernote */
    color: #64b46a; /* prismic */
    color: #2ecc71; /* panda */
    color: #5AA057; /* some green */
    color: #7db96b; /* vert elCurator */

    color: #f79f55; /* orange elCurator */

    color: #6C6C6C; /* gris elCurator */
}

.palette2 {
    color: #16A086;
    color: #1BBC9B;
    color: #E77E23;
    color: #F39C11;
    color: #F1C40F;
    color: #2DCC70;
    color: #27AE61;
}

body {
    font-family: LatoWeb, sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    color: #212121;
}

a,
a:hover {
    text-decoration: none;
    color: #2CADBE;
}

#header .navbar {
    background-color: #0097A7;
    margin-bottom: 0;
    color: #fff !important;
}
#header .navbar a {
    color: #fff;
}
#header .navbar a:hover {
    color: #2CADBE;
    background-color: inherit;
}

#body {
    background-color: #f4f4f4;
    background-color: #E5E5E5;
    background-color: #F5F5F5;
}
#footer {
    border-top: 1px solid #e5e5e5;
    padding: 30px 30px 20px 30px;
    font-size: 13px;
    color: #999999;
    background-color: #ffffff;
}

.navbar-brand {
    font-family: "Plain Germanica", Verdana, serif;
    font-size: 30px;
    padding-top: 25px;
    color: #fff !important;
}

/* Article list view */

#article-list-view {
    padding-top: 10px;
    padding-bottom: 10px;
}

#article-list-view article {
    margin: 20px 0 30px 0;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
    padding: 10px 40px 20px;
    border-radius: 2px;
}

#article-list-view article header {
    margin-bottom: 30px;
}

#article-list-view article header h1 {
    font-weight: 600;
}

#article-list-view article header h2 a {
    font-weight: bold;
    font-family: 'LatoWebLight', Verdana, sans-serif;
    color: #212121 !important;
}

#article-list-view article header hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#article-list-view article header p {
    color: #FF9900;
    color: #CB4500;
    color: #b2b2b2;
    color: #B6B6B6;
    color: #B2EBF2;
    font-family: 'LatoWebLight', Verdana, sans-serif;
    font-weight: 400;
}



/* Article view */

#article-view article header {
    background-color: #16A086;
    background-color: #1BBC9B;
    background-color: #00B2A8;
    background-color: #00BCD4;
    color: #ffffff;
    text-align: center;
    padding: 10px 0 130px 0;
}

#article-view article header h1 {
    font-weight: bold;
    font-family: 'LatoWebThin', Verdana, sans-serif;
}

#article-view article header p {
    color: #B2EBF2;
}

#article-view article .content {
    margin: -110px 0 30px 0;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
    padding: 40px;
    border-radius: 2px;
}

#article-view article .content .excerpt {
    /*font-weight: 600;*/
    font-family: 'LatoWebBlack', Verdana, sans-serif;
}

#article-view article .content h2 {
    font-family: 'LatoWebLight', sans-serif;
}
#article-view article .content img {
    max-width: 100%;
}

/* ============== */
/* RESPONSIVENESS */
/* ============== */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}
