body {
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
}

h1:after {
    border-bottom: 1px solid #AAA;
    display: block;
    content: '';
    margin-top: 10px;
}

#app {
}


/* ============== */
/* RESPONSIVENESS */
/* ============== */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
}
