<section id="article-view">
    <article>
        <header class="container">
            <div >
                <h1>{{_articleTitle}}</h1>
                <h5>5 février 2016</h5>
            </div>
        </header>
        <div class="container">
            <div class="content">
                {{_articleContent}}
            </div>
        </div>
    </article>
</section>
