<section id="article-list-view">
    <div class="container">
        {{#each articles}}
            <article>
                <header>
                    <h2><a href="#articles/{{articleUid}}">{{articleTitle}}</a></h2>
                </header>
                <div class="content">
                    {{articleExcerpt}}
                    <a href="#articles/{{articleUid}}">Lire la suite...</a>
                </div>
            </article>
        {{/each}}
    </div>
</section>
