/* Webfont: Plain Germanica */@font-face {
    font-family: 'Plain Germanica';
    src: url('Plain%20Germanica.eot'); /* IE9 Compat Modes */
    src: url('Plain%20Germanica.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Plain%20Germanica.woff2') format('woff2'), /* Modern Browsers */
    url('Plain%20Germanica.woff') format('woff'), /* Modern Browsers */
    url('Plain%20Germanica.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;

}
