<section id="article-list-view">
    {{#each articles}}
        <article>
            <head>
                <h1>{{articleTitle}}</h1>
            </head>
            <div class="content">
                {{articleContent}}
            </div>
        </article>
    {{/each}}
</section>