html {
  font-family: 'Lato', Helvetica Neue, Arial, sans-serif;
  color: #333;
  background-color: #fafafa;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #ffa500;
}

.app {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 40px;
}

.presentation {
  text-align: justify;
}

.presentation__picture {
  text-align: center;
  border-radius: 50%;
  border: 1px solid #dddddd;
  width: 140px;
  height: 140px;
  padding: 5px;
  margin: 0 auto;
  background-color: #ffffff;
}

.presentation__picture-image {
  border-radius: 50%;
  width: 140px;
}